<ion-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{student.firstName}} {{student.lastName}}</h1>
    </ion-header-bar>
    <ion-content id="ICstudent">
        <div class="cards" ng-repeat="card in student.cohort.cohortCurriculum.deck track by $index">
            <div class="cardHeader">
                <strong>{{card.trophyTitle}}</strong>
                <img class="cardTrophyImg" ng-src="{{NBSGP(card)}}">
            </div>
            <div class="cardBadges" ng-repeat="badge in card.badges track by $index" ng-class="{badgeRequestedClass: student.badgesRequested.indexOf(badge._id) !== -1}">
                <img class="cardBadgeImage" ng-src="{{badge.badgeImage}}" on-hold="showPopup({{badge}})" ng-if="student.badgesAwarded.indexOf(badge._id) !== -1">
                <img class="cardBadgeImage" on-hold="showPopup({{badge}})" ng-if="student.badgesAwarded.indexOf(badge._id) === -1" src="img/footer_lodyas.png"> {{badge.mileStone}}
            </div>
        </div>
    </ion-content>
</ion-view>