<ion-view>
    <ion-content>
        <div id="loginImgDiv" class="hide-on-keyboard-open">
            <img id="logonDMImg" src="./img/dmlogoshinygif.gif">
        </div>
        <input class="loginInputs" placeholder="Username">
        <input class="loginInputs" placeholder="Password">
        <br>
        <div id="loginButtsDiv">
            <div class="loginButts" ui-sref="Student">Student</div><div class="loginButts" ui-sref="Admin.students">Admin</div>
        </div>
    </ion-content>
</ion-view>