<ion-view>
    <ion-content>
        <div id="loginImgDiv" class="hide-on-keyboard-open">
            <img id="logonDMImg" src="./img/dmlogoshinygif.gif">
        </div>
        <input class="loginInputs" placeholder="Username" ng-model="user.username">
        <input placeholder="Password" ng-model="user.password" type="password">
        <br>
        <div id="loginButtsDiv">
            <div class="loginButts" ng-click="login(user)">Login</div>
<!--            <div class="loginButts" ui-sref="Student">Student</div><div class="loginButts" ui-sref="Admin.students">Admin</div>-->
        </div>
    </ion-content>
</ion-view>