<ion-view>

    <ion-side-menus>

        <ion-side-menu side="left">
            <ion-content>
                <div class="sideMenuLayout">
                    <img id="SPImg" src="http://www.mcs.anl.gov/research/LANS/images/people/missing.png">
                    <div id="SPNameDiv">
                        {{User.firstName}} {{User.lastName}}
                        <br> {{User.cohort.cohortName}}
                    </div>
                    <br>
                    <div id="expBarDiv">
                        <div id="expBar" ng-style="{width: expPer()+'%'}"></div>
                    </div>
                    <div id="SPMoreInfoDiv">
                        
                        <br> Badges : {{User.badgesAwarded.length}}
                        <br> 
                        <br>Gold : {{trophyCount().gold}}
                        <br>Silver : {{trophyCount().silver}}
                        <br>Bronze : {{trophyCount().bronze}}

                        <br><br>
                        <div ui-sref="Login">Login</div>
                        <div ui-sref="Student">Student</div>
                        <div ui-sref="Admin.students">Admin</div>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-content>

                <ion-header-bar class="bar-stable">
                    </ion-nav-back-button>
                    <h1 class="title">{{User.firstName}} {{User.lastName}}</h1>
                </ion-header-bar>
                <ion-content id="ICstudent">
                    <div class="cards" ng-repeat="card in User.cohort.curriculum.deck track by $index">
                        <div class="cardHeader">
                            <strong>{{card.trophyTitle}}</strong>
                            <img class="cardTrophyImg" ng-src="{{NBSGP(card)}}">
                        </div>
                        <div class="cardBadges" ng-repeat="badge in card.badges track by $index" ng-class="{badgeRequestedClass: User.badgesRequested.indexOf(badge._id) !== -1}">
                            <img class="cardBadgeImage" ng-src="{{badge.badgeImage}}" on-hold="showPopup({{badge}})" ng-if="indexOfBadge(badge._id) !== -1">
                            <img class="cardBadgeImage" on-hold="showPopup({{badge}})" ng-if="indexOfBadge(badge._id) === -1" src="img/footer_lodyas.png"> {{badge.mileStone}}
                        </div>
                    </div>
                </ion-content>
        </ion-side-menu-content>

    </ion-side-menus>
</ion-view>